<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Parcial_II___Grupo_5.Properties.Settings.cineConnectionString"
            connectionString="Data Source=LAPTOP-1KNN72KH\SQLEXPRESS;Initial Catalog=cine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>